/**** Reset ****/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
}

/**** Style général de la page ****/

body {
    width: 100%;
    min-height: 100vh;
    background-color: #28c7f1;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #ffffff;
    width: 100%;
    max-width: 400px;
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0 2px 5px 10px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
    text-align: center;
}

.img__div {
    display: inline;
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

.img__div img {
    width: 100%;
}

h2 {
    color: #111111;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 8px;
}

p {
    color: #555555;
    font-size: 16px;
    font-weight: 600;
    line-height: 30px;
}

.inputs {
    display: flex;
    justify-content: space-between;
    gap: 0.5em;
    max-width: 320px;
    margin: 0 auto;
}

.inputs input {
    width: 40px;
    height: 40px;
    border: 1px solid #bbbbbb;
    border-radius: 6px;
    font-size: 20px;
    text-align: center;
    color: #111111;
    caret-color: transparent;
}

.inputs input:focus {
    border: 3px solid #28c7f1;
}

.verify__btn {
    width: 100%;
    height: 40px;
    font-size: 18px;
    text-transform: uppercase;
    background-color: #28c7f1;
    color: #ffffff;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.4s ease;
}

.verify__btn.active{
    background-color: #00b991;;
}

.verify__btn:hover{
    opacity: 0.7;
}

/**** Responsive design ****/

@media screen and (max-width: 472px) {
    body {
        padding: 0 12px;
    }

    .container {
        max-width: 100%;
        gap: 0.75em;
        padding: 0.75em;
    }

    .content h2 {
        font-size: 17px;
    }

    .content p {
        font-size: 14px;
    }

    .inputs {
        max-width: 100%;
        gap: 0.3em;
    }

    .inputs input {
        width: 35px;
        height: 35px;
    }

    .verify__btn {
        font-size: 17px;
    }
}